@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0 10px;
}

#title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  padding: 1rem 0;
}

p {
  font-weight: 500;
  color: gray;
  margin-top: -10px;
}
img {
  margin: 2rem auto;
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-div {
  text-align: center;
}

#img-caption {
  font-size: 12px;
  color: gray;
  letter-spacing: 0.5px;
  margin: -1.5rem auto 1.5rem auto;
  display: block;
  max-width: 500px;
}

.border-bottom {
  border-bottom: 1px solid gray;
  width: 70%;
  margin: auto;
}

.link-text {
  font-size: 12px;
  font-weight: 500;
  color: black;
}

#tribute-link {
  text-decoration: none;
  color: brown;
  display: inline-block;
  padding: 2px 3px;

  transition: all 0.2s;
}

#tribute-info {
  max-width: 600px;
  margin: auto;
  text-align: start;
}

.bio-heading {
  margin: 1.2rem 0;
}
.bio-text {
  list-style: none;
}

span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

li {
  margin: 10px 0;
  font-size: 14px;
  color: gray;
  letter-spacing: 0.5px;
  line-height: 25px;
}

li:last-child {
  margin-bottom: 1.5rem;
}

.link-text {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  text-align: left;
  margin-bottom: 3rem;
  color: gray;
}
#tribute-link:hover {
  background-color: brown;
  border-radius: 2px;
  color: #fff;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#tribute-link:active {
  transform: translateY(2px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
